


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="clo"><image src="/image/btn-close.png" style="width: 50px;height: 50px;"></image></span>
        <p style="font-size: 200%"><b>Quiz Ready !</b></p>
        <button onclick="go()">Start the quiz</button>
    </div>

</div>


<div class="container ">
    <div class="row im" style="padding-top: 50px;">
        <div class="col-md-2 col-md-offset-1">
            <img src="/image/index.png" id="images" >
        </div>
        <div class="col-md-2" id="text" id="mybtn" onclick="call('html5')">
            HTML5
        </div>

    </div>
    <div class="row im" style="padding-top: 50px;">
        <div class="col-md-2 col-md-offset-1">
            <img src="/image/js.png" >
        </div>
        <div class="col-md-2" id="text" onclick="call('Javascript')">
            Javascript
        </div>
    </div>
</div>
<div id="bot">

</div>

