<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/cs/index.css">
    <link rel="stylesheet" href="/cs/style.css">



    <style>


    </style>

</head>
<body>
<div id="r1">
    <div class="flex1">
        <a href="#" style="font-size: 190%;box-sizing: border-box"> Quizarena.com </a>
    </div>
    <div class="flex1" style="box-sizing: border-box;padding-top:20px">
        <a href="/"><button>Home</button></a>
        <a href="about"><button>About</button></a>
        <a href="profile"><button>My profile</button></a>
        <span class="dropdown cur">
                <a class="dropdown-toggle"  data-toggle="dropdown"><button>Quiz
                    <span class="caret"></span></button>
                </a>
                <ul class="dropdown-menu" style="font-size:70%">
                    <li><a href="#" onclick="call('html5')">HTML</a></li>

                    <li><a onclick="call('css')">CSS</a></li>
                    <li><a onclick="call('Javascript')">JavaScript</a></li>
                </ul>
        </span>
    </div>
    <div class="flex1">

    </div>

</div>

{{{body}}}



<script src="/js/index.js"></script>

</body>
</html>